# SQLITE3 Database

export DB_PATH=/var/lib/acme-dns/acme-dns.db

# ACME

export DNS_ZONE=dns.herzo.gs
export DNS_ZONE_SERVER=dns.herzo.gs
export EXTERNAL_IP=217.160.41.191

# admin email address, where @ is substituted with .
export NS_ADMIN_MAIL=philipp.herzo.gs

# Let's Encrypt

export NOTIFICATION_MAIL=philipp@herzo.gs
